<h1>MineWatch Daily Summary</h1>

<p>Below is your daily summary of worker statistics:</p>

<p>Current Workers:   <%= @worker_diff %></p>
<p>Current Hashrate:  <%= @current_hashrate %> MH/s</p>
<p>Average Hashrate:  <%= @avg_hashrate %> MH/s</p>
<p>USD/day:           $<%= @usd_per_day %></p>
<p>USD/month:         $<%= @usd_per_month %></p>

<footer><%= @footer_timestamp %></footer>
